.body{
    height: calc(100vh - 60px);
    width: 100%;
    /* background-color: aqua; */
    margin-top: 0px;
    position : fixed;
    overflow: auto;
    /* padding :10px 400px 0px 50px; */
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.layout{
    padding: 10px 50px;
    
}
.posts {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    height:100vh;
    flex-wrap: wrap;
    /* background-color: #D33852; */
}
.btn {
    flex-direction: row;
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #D33852;
    padding: 0px 20px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.noPost{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}