:root {
  --blue: #a7f0f9;
  --violet: #c5c5fc;
  --pink: #ffaec0;
  --yellow: #ffcc66;
  --big-button: #d33852;
  --small-button: #af273e;
  --border-color: #ebebeb;
  --logo-color: #717171;
}
body ::-webkit-scrollbar {
  display: none;
}